
@media screen and (min-width: 768px) {
  .main-section {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    grid-template-areas: "production sales-revenue"
                          "summary sales-revenue";
  }
}