@import '../../variables.scss';

.month-year-selector {
  width: 7rem;
}

.date-picker {
  width: 100%;
  height: 30px;
  padding-left: 0.2rem;
  border-radius: 0;
  border-bottom: 2px solid $darker-gray;
  border-right: 2px solid $darker-gray;
  background-color: $lighter-gray;
}