@import "../../variables";

.header-with-icons {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header__title {
  margin: 0;
  font-size: 1.5rem;
  text-align: start;
  color: $text-color;
  text-transform: uppercase;
  font-weight: 500;
}

.icons {

  & span {
    width: 50px;
    height: 50px;
  }
  
  & span:not(:last-child) {
    margin-right: 1rem;
  }

}